<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" rel="stylesheet" />
  
</head>

<body >
 
  <div class="wrapper ">
          <div class="sidebar" data-color="red" data-background-color="black" data-image="../static/assets/img/sidebar-3.jpg">
              <div class="logo">
                <a href="#" class="simple-text logo-mini">
                  SR
                </a>
                <a href="#" class="simple-text logo-normal">
                  Portal
                </a>
              </div>
              <div class="sidebar-wrapper">
                <div class="user">
                  <div class="photo">
                    <img src="{{ image_file }}" />
                  </div>
                  <div class="user-info">
                    <a data-toggle="collapse" href="#collapseExample" class="username">
                      <span>
                        {{ current_user.username }}
                      </span>
                    </a>
                    
                  </div>
                </div>
                <ul class="nav">
                  <li class="nav-item active ">
                    <a class="nav-link" href="{{url_for('dashboard')}}">
                      <i class="material-icons">dashboard</i>
                      <p> Dashboard </p>
                    </a>
                  </li>
                  <li class="nav-item active ">
                    <a class="nav-link" href="{{url_for('workspace')}}">
                      <i class="material-icons">work</i>
                      <p> WorkSpace </p>
                    </a>
                  </li>
                  
                  <li class="nav-item ">
                    <a class="nav-link" href="../static/examples/widgets.html">
                      <i class="material-icons">call</i>
                      <p> Contact Us </p>
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="../static/examples/charts.html">
                      <i class="material-icons">timeline</i>
                      <p> Credit </p>
                    </a>
                  </li>
                  {% if current_user.is_admin==True or current_user.is_manager == True %}
                  <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('calendar')}}">
                      <i class="material-icons">date_range</i>
                      <p> Calendar </p>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
          </div>
          <div class="main-panel">
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                            <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                        </button>
                        </div>
                        <a class="navbar-brand" href="#">{{ title }}</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                            </button>
                        </div>
                        </form>
                        <ul class="navbar-nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{{url_for('dashboard')}}">
                            <i class="material-icons">dashboard</i>
                            <p class="d-lg-none d-md-block">
                                Dashboards
                            </p>
                            </a>
                        </li> -->
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{url_for('profile')}}"   aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>
                            
                            <p class="d-lg-none d-md-block">
                                Profile
                            </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{url_for('account')}}"   aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">update</i>
                            
                            <p class="d-lg-none d-md-block">
                                Settings
                            </p>
                            </a>
                        </li>
                        {% if current_user.is_admin==True %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="../admin"   aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">policy</i>
                            
                            <p class="d-lg-none d-md-block">
                                Admin
                            </p>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{{url_for('logout')}}"   aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">logout</i>
                            
                            <p class="d-lg-none d-md-block">
                                Logout
                            </p>
                            </a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>          
          </div>
  </div>
      <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../static/assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../static/assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../static/assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../static/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../static/assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../static/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../static/assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../static/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../static/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../static/assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../static/assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../static/assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Chartist JS -->
  <script src="../static/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/assets/demo/demo.js"></script>
  
  <!-- Sharrre libray -->
  <script src="../static/assets/demo/jquery.sharrre.js"></script>
  <script>
    $(document).ready(function() {
      md.checkFullPageBackgroundImage();
    });
  </script>
  <script>
    $(document).ready(function() {
      md.initFullCalendar();
    });
  </script>
</body>

</html>