body {
    font-family: "Karla", sans-serif;
    background-color: #fff;
    min-height: 100vh;

    @media (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.brand-wrapper {
    padding-top: 7px;
    padding-bottom: 8px;
    margin-bottom: 7px;

    .logo {
        height: 25px;
    }
}

.login {

    &-wrapper {
        width: 370px;
        max-width: 100%;
        padding: 34px;
        border-radius: 8px;
        border: 0;
        background-color: #fff;

        .form-control {
            border: none;
            padding: 16px 18px;
            border-radius: 0;
            min-height: 48px;
            font-size: 14px;
            font-weight: normal;
            background-color: transparent;
    
            &::placeholder {
                color: #b0adad;
            }
        }

        .input-group {
            margin-bottom: 18px;
            border-radius: 24px;
            border: solid 1px #f5f5f5;

            .input-group-prepend {
                margin-right: 0;
                .input-group-text{
                    border: 0;
                    background-color: transparent;
                    padding-left: 27px;
                    color: #000;
                }

                & + .form-control {
                    padding-left: 5px;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                }
            }
        }

        .login-btn {
            padding: 13px 20px;
            background-color: #ff4600;
            border-radius: 24px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 32px;
    
            &:hover {
                border: 1px solid #ff4600;
                background-color: #fff;
                color: #ff4600;
            }
        }

        &-footer-text {
            font-size: 13px;
            color: #000;
            text-align: center;
            margin-bottom: 32px;
        }

        .social-links {
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;

            a {
                display: inline-block;
                font-size: 20px;
                color: #000;

                + a {
                    margin-left: 10px;
                }
            }
        }
    }

    &-description {
        font-size: 20px;
        color: #000;
        font-weight: normal;
        margin-bottom: 32px;
    }

    &-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: left;
    }

    &-check-box {
        padding-left: 34px;

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }

        .custom-control-label{
            &::before {
                width: 24px;
                height: 21px;
                border: solid 1px #f5f5f5;
                left: -34px;
                top: 0px;
            }

            &::after {
                left: -34px;
                width: 24px;
                height: 21px;
                top: 0;
            }
        }
    }
}

.form-options-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #000;

    a.forgot-password-link {
        color: #ff4600;

        &:hover {
            text-decoration: none;
        }
    }

    @media (max-width: 576px) {
        display: block;
    }
}