{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                            <div id="mydivs"  data-notify="container" class="col-xs-11 col-sm-4 alert alert-{{ category }} alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <i data-notify="icon" class="material-icons">notifications</i>
                                <span data-notify="title"></span> 
                                <span data-notify="message">{{ message }}</span>
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                        <script type="text/javascript">
                            setTimeout(function() {
                              $('#mydivs').fadeOut('slow');
                          }, 2700);
                          </script>
					 	    <div class="header text-center">
        <h3 class="title">Announcements</h3>
        <p class="category">All announcements will appear here</p>
                    
    </div>
    <div class="row" style="height: 80%;overflow: auto;">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-content">
                    <ul class="timeline">
                        {% for post in post%}
                        {% if post.id%2 != 0%}
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning">
                                <i class="material-icons">flight_land</i>
                            </div>
                            <div class="timeline-panel" style="position: relative;">
                                <div class="timeline-heading">
                                    <span class="label label-warning">{{post.title}}</span>
                                </div>
                                <div class="timeline-body">
                                    <p>{{post.content}}</p>
                                </div>
                                
                            <div style="position:relative; width: 20%;left: 70%;top: 70%;">
                                <p>
                                    <i class="ti-time"></i>
                                    - <a href="{{ url_for( 'user',username=post.author.username )}}">{{post.author.username}} </a>
                                    </p>
                                    {% if post.author == current_user%}
                                    <a href="{{ url_for('delete_post', post_id=post.id) }}"><button data-toggle="modal" data-target="#deleteModal1" style="position: absolute;bottom: -40%;left: 80%;" class="btn btn-danger btn-round btn-fab btn-fab-mini">
                                        <i class="material-icons">delete</i>
                                        <div class="ripple-container"></div>
                                    </button></a>
                                   {% endif %}
                               </div>
                          </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="timeline-badge info">
                                <i class="material-icons">extension</i>
                            </div>
                            <div class="timeline-panel" style="position: relative;">
                                <div class="timeline-heading">
                                  <span class="label label-info">{{post.title}}</span>
                                </div>
                                <div class="timeline-body">
                                    <p>{{post.content}}</p>
                                </div>
                                
                                <div style="position:relative; width: 20%;left: 70%;top: 70%;">
                                    <p>
                                        <i class="ti-time"></i>
                                        - <a href="{{ url_for( 'user',username=post.author.username )}}">{{post.author.username}} </a>
                                    </p>
                                    {% if post.author == current_user%}
                                    <a href="{{ url_for('delete_post', post_id=post.id) }}"><button style="position: absolute;bottom: -40%;left: 80%;" class="btn btn-danger btn-round btn-fab btn-fab-mini">
                                        <i class="material-icons">delete</i>
                                        <div class="ripple-container"></div>
                                    </button></a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    {% if current_user.is_admin==True or current_user.is_manager == True %}
                 
    <div class="col-md-6" style="width: 100%;position: relative;">
        <div class="card">
            <form  method="POST" action="" role="form">
                {{ form.hidden_tag() }}
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">contacts</i>
                </div>
                <div class="card-content" >
                    <h4 class="card-title">New Annoucement</h4>
                    <div class="form-group label-floating" style="width: 40%;">
                        <!-- <label class="control-label">Title</label> -->
                        {{ form.title.label(class="control-label") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control") }}
                        {% endif %}
                        <!-- <input class="form-control" name="email" type="text" required="true" /> -->
                    </div>
                    <div class="form-group label-floating" style="width: 80%;">
                        <!-- <label class="control-label">Content</label> -->
                        {{ form.content.label(class="control-label") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control") }}
                        {% endif %}
                        <!-- <input class="form-control" name="password" type="text"required="true" /> -->
                    </div>

                    <div class="text-center" style="position: absolute; top: 60%;right: 3%;">
                        {{ form.submit(class="btn btn-rose btn-fill btn-wd") }}
                        <!-- <button type="submit" class="btn btn-rose btn-fill btn-wd" style="position: absolute; top: 60%;right: 3%;">Post</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}				