
    {% for BTECH in BTECH%}
        {% if  current_user.is_admin==True or current_user.is_manager == True%}
        {% if BTECH[4] == 'Done' and BTECH[8] == 'Done' %}
        <tr>
           <td class="text-center">&bull;</td>
           <td>
              <h4>{{BTECH[0]}}</h4>
           </td>
           {% if BTECH[14] < 300 %}
           <td style="color:red;">
              <button type="button" style="background-color: transparent;border: none;" data-toggle="popover" title="Early Submission" data-content="{{BTECH[3]}} has submitted file within 5 minutes.Thus file might not been checked properly.">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{BTECH[3]}}
              </button>
           </td>
           {% else %}
           <td>{{BTECH[3]}}</td>
           {% endif %}
           {% if BTECH[15] < 300%}
           <td style="color:red;">
              <button type="button" style="background-color: transparent;border: none;" data-toggle="popover" title="Early Submission" data-content="{{BTECH[2]}} has submitted file within 5 minutes.Thus file might not been checked properly.">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{BTECH[2]}}
              </button>
           </td>
           {% else %}
           <td>{{BTECH[2]}}</td>
           {% endif %}
           <td class="text-center">BTECH</td>
           <td class=" text-center">
              {% if BTECH[6] != 'Done' %}
              <a href="{{url_for('BTECHs.lab_BTECH',application=BTECH[0])}}">
              <button class="btn btn-primary btn-sm">
              Verify
              </button>
              </a>
              {% else %}
              <a href="{{url_for('BTECHs.lab_BTECH',application=BTECH[0])}}">
              <button style="background-image: linear-gradient(#ffa726, #fb8c00);" class="btn btn-sm">
              Verified
              </button>
              </a>
              {% endif %}
           </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        
    {% for gtech in gtech%}
        {% if  current_user.is_admin==True or current_user.is_manager == True%}
        {% if gtech[4] == 'Done' and gtech[8] == 'Done' %}
        <tr>
           <td class="text-center">&bull;</td>
           <td>
              <h4>{{gtech[0]}}</h4>
           </td>
           {% if gtech[14] < 300 %}
           <td style="color:red;">
              <button type="button" style="background-color: transparent;border: none;" data-toggle="popover" title="Early Submission" data-content="{{gtech[3]}} has submitted file within 5 minutes.Thus file might not been checked properly.">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{gtech[3]}}
              </button>
           </td>
           {% else %}
           <td>{{gtech[3]}}</td>
           {% endif %}
           {% if gtech[15] < 300%}
           <td style="color:red;">
              <button type="button" style="background-color: transparent;border: none;" data-toggle="popover" title="Early Submission" data-content="{{gtech[2]}} has submitted file within 5 minutes.Thus file might not been checked properly.">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{gtech[2]}}
              </button>
           </td>
           {% else %}
           <td>{{gtech[2]}}</td>
           {% endif %}
           <td class="text-center">GTECH</td>
           <td class=" text-center">
              {% if gtech[6] != 'Done' %}
              <a href="{{url_for('gtechs.lab_gtech',application=gtech[0])}}">
              <button class="btn btn-primary btn-sm">
              Verify
              </button>
              </a>
              {% else %}
              <a href="{{url_for('gtechs.lab_gtech',application=gtech[0])}}">
              <button style="background-image: linear-gradient(#ffa726, #fb8c00);" class="btn btn-sm">
              Verified
              </button>
              </a>
              {% endif %}
           </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        