
<!DOCTYPE html> 
<html lang="en-us" class="no-js">
   <head>
      <meta charset="utf-8">
      <title>OOPS - Perfect 404 Pages Pack</title>
      <meta name="description" content="The description should optimally be between 150-160 characters.">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="author" content="ThemeHelite">
      <link rel="stylesheet" href="../static/assets/error/css/style.min.css">
      <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets/css/material-dashboard.css?v=1.3.0" rel="stylesheet" />
    <link href="../static/assets/css/demo.css" rel="stylesheet" />
    <link href="../static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/icon-weight.css" />
    <link href="../static/assets/css/material-icon.css" rel="stylesheet">
    <link href="../static/assets/css/bootstrap-tour.min.css" rel="stylesheet">
    
   </head>
   <body class="bubble">
      <canvas id="canvasbg"></canvas>
      <canvas id="canvas"></canvas>
      <a href="{{url_for('workspace')}}" class="logo-link" title="back home"> <img src="img/logo.png" class="logo" alt="Company's logo"> </a> 
      <div class="content">
         {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                            <div id="mydivs"  data-notify="container" class="col-xs-11 col-sm-4 alert alert-{{ category }} alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <i data-notify="icon" class="material-icons">notifications</i>
                                <span data-notify="title"></span> 
                                <span data-notify="message">{{ message }}</span>
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                        <script type="text/javascript">
                          setTimeout(function() {
                            $('#mydivs').fadeOut('slow');
                        }, 2700);
                        </script>
                        <script src="../static/assets/js/bootstrap-notify.js"></script>

         <div class="content-box">
            <div class="big-content">
               <div class="list-square"> <span class="square"></span> <span class="square"></span> <span class="square"></span> </div>
               <div class="list-line"> <span class="line"></span> <span class="line"></span> <span class="line"></span> <span class="line"></span> <span class="line"></span> <span class="line"></span> </div>
               <i class="fa fa-search color" aria-hidden="true"></i> 
               <div class="clear"></div>
            </div>
            {% if error == 404%}
            <h2  style="color: aliceblue;">Oops! Error {{error}} not found.</h2>
            <p>The page you were looking for doesn't exist.<br> We think the page may have moved.</p>
            {% else%}
            <h2 style="color: aliceblue;"> Error {{error}} permission denied.</h2>
            <p>You are not authorized to view this page.<br>  If you entered the URL manually please check your spelling and try again.</p>
            
            {% endif %}
          </div>
      </div>
      <footer class="light">
         <ul>
            <li><a href="{{url_for('workspace')}}">Workspace</a></li>
          </ul>
      </footer>
      <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
       <script src="http://cdn.themehelite.com/themeforest/404oops/js/bubble.js"></script>
    </body>
</html>









