{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   <div class="container" style="position: absolute;max-width: 35%;left: 65%;">
   {% for category, message in messages %}
   <div id="{{category}}" data-notify="container" class="mydivs col-xs-11 col-sm-4 alert alert-{{ category }} alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 3px auto; position: relative; z-index: 1031;width: 100%;">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
      <span aria-hidden="true">&times;</span>
      </button>
      <i data-notify="icon" class="material-icons">notifications</i>
      <span data-notify="title"></span> 
      <span data-notify="message">{{ message }}</span>
   </div>
   {% endfor %}
   </div>
   {% endif %}
   {% endwith %}
   <script>
      setTimeout(function() {
        $('#info').fadeOut('slow');
      }, 5000);
      setTimeout(function() {
        $('#success').fadeOut('slow');
      }, 5000);
   </script>
   <script type="text/javascript">
      setTimeout(function() {
        $('#mydivs').fadeOut('slow');
      }, 2700);
   </script>
   <div class="header text-center">
      <h3 class="title">Extra Courses</h3>
      <p class="category">Submissions of extra courses will appear here</p>
   </div>
   <div class="row">
      {% include 'extra_add.html' %}
   </div>
</div>
{% endblock content %}