      
                    <div class="col-md-6" style="position: relative;">
                        <div class="card card-pricing card-raised" style="width: 50%;position: relative;left: 20%;">
                            <div class="content">
                                <h4 class="card-title">BTECH Submissions</h4>
                                <a href="{{url_for('BTECHs.BTECH_submission')}}" class="btn btn-rose btn-round">Enter</a>
                            </div>
                        </div>
                    </div>
          
                    <div class="col-md-6" style="position: relative;">
                        <div class="card card-pricing card-raised" style="width: 50%;position: relative;left: 20%;">
                            <div class="content">
                                <h4 class="card-title">gtech Submissions</h4>
                                <a href="{{url_for('gtechs.gtech_submission')}}" class="btn btn-rose btn-round">Enter</a>
                            </div>
                        </div>
                    </div>
    