
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}

  <!--  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="./static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="./static/assets/css/font-awesome.css" rel="stylesheet" />
  <link href="./static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="./static/assets/css/argon-design-system.min.css?v=1.0.0" rel="stylesheet" />
  
</head>

<body class="sections-page">

  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-default navbar-dark headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="./index.html">
        <img src="./static/assets/img/brand/white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="./static/assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a href="{{url_for('home')}}" class="nav-link">
              <i class="material-icons">home</i>
              <!-- <span class="nav-link-inner--text">Home</span> -->
            </a>
          </li>
        	{% if current_user.is_authenticated %}
          <li class="nav-item">
            <a href="{{url_for('account')}}" class="nav-link">
              <!-- <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Account</span> -->
              <i class="material-icons">assignment_ind</i>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('dashboard')}}" class="nav-link">
              <i class="material-icons">dashboard</i>
              <!-- <span class="nav-link-inner--text">Dashboard</span> -->
            </a>
          </li>
          <li class="nav-item ">
            <a href="{{url_for('logout')}}" class="nav-link" >
              <!-- <i class="ni ni-tablet-button d-lg-none"></i>
              <span class="nav-link-inner--text">Logout</span> -->
              <i class="material-icons">logout</i>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{{url_for('login')}}" class="nav-link">
              <i class="material-icons">fingerprint</i>
              <!-- <span class="nav-link-inner--text">Login</span> -->
            </a>
          </li>
          <li class="nav-item ">
            <a href="{{url_for('register')}}" class="nav-link" >
              <i class="material-icons">person_add</i>
              <!-- <span class="nav-link-inner--text">Register</span> -->
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="cd-section" id="headers">
      <header class="header-1">
        
        <div class="page-header">
          <div class="page-header-image" style="background-image: url('./static/assets/img/ill/p2.svg')"></div>
          <div class="container">
            <div class="row">
              
              <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              {{ message }}
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                <h3 class="display-3">SR Portal</h3>
                <p class="lead mt-0">The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. </p>
                <br />
                <div class="buttons">
                  {% if current_user.is_authenticated %}
                  <a href="{{url_for('dashboard')}}" class="btn btn-danger">
                    Get Started
                  </a>
                  {% else %}
                  <a href="{{url_for('login')}}" class="btn btn-danger">
                    Get Started
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="./static/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./static/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="./static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./static/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/ -->
  <script src="./static/assets/js/plugins/glide.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://flatpickr.js.org/ -->
  <script src="./static/assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
  <script src="./static/assets/js/plugins/choices.min.js" type="text/javascript"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://flatpickr.js.org/ -->
  <script src="./static/assets/js/plugins/datetimepicker.js" type="text/javascript"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="./static/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js/ -->
  <script src="./static/assets/js/plugins/headroom.min.js"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
 <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="./static/assets/js/argon-design-system.min.js?v=1.0.0" type="text/javascript"></script> <!-- Sharrre libray -->
  <script src="./static/assets/demo/jquery.sharrre.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <script>
    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove(); 
      });
  }, 2000);
  </script>
  <script>
    // Carousel
    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      focusAt: 2,
      perTouch: 1,
      perView: 4
    }).mount();


    // Testimonial Carousel
    new Glide('.testimonial-glide', {
      type: 'carousel',
      startAt: 0,
      focusAt: 2,
      perTouch: 1,
      perView: 4
    }).mount();

    ArgonKit.initGoogleMaps();
    ArgonKit.initGoogleMaps2();
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>
</body>

</html>
