
{% extends "dashlayout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script type="text/javascript">
    if (/Android|webOS|iPhone|iPad|iPod|pocket|psp|kindle|avantgo|blazer|midori|Tablet|Palm|maemo|plucker|phone|BlackBerry|symbian|IEMobile|mobile|ZuneWP7|Windows Phone|Opera Mini/i.test(navigator.userAgent)){
     window.onload = function (){
         document.getElementById('mybox').style.display = 'none';
         document.getElementById('tablebox').style.width = '100%';
         document.getElementById('fixtable').style.display = 'none';
     }
   };
</script>
<style>
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
</style>
<div class="content">
              <div class="container-fluid">
                <div class="header text-center">
                  <h3 class="title">{{ title }}</h3>
                  <p class="category">Click on Application No. to view document </p>
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card " style="width: 100%;">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons"></i>
                        </div>
                        <h4 class="card-title">Global Sales by Top Locations</h4>
                      </div>
                      <div class="card-body ">
                        <div class="row">
                          
                          <div id="tablebox" class="wrap-table100" style="width: 50%;height: 75vh;overflow-y: auto
                          ;">
                            <div class="table100 ver1">
                              <div class="table100-firstcol" style="width: 240px;">
                                <table id="fixtable">
                                  <thead>
                                    <tr class="row100 head">
                                      <th class="cell100 column1"><div style="height: 38.5px;overflow: auto;width: 100%;">Application No.</div></th>
                                    </tr>
                                  </thead>
                                  <tbody id="myTable">

                                    {% for p in mtech%}
                                    {% if current_user.username== p['Tutor_name'] or current_user.is_admin==True or current_user.is_manager == True%}
                                    <tr class="row100 body">
                                      <td class="cell100 column1"><div style="height: 80px;overflow: auto;width: 100%;padding-top: 15%;"><a  href="../static/pdf/{{p['Application Ref. No.']}}.pdf" target="mapframe"> {{p['Application Ref. No.']}}</a></div></td>
                                    </tr>
                                    
                                    {% endif %}
                                    {% endfor %}
                                    
                                  </tbody>
                                </table>
                              </div>
                              
                              <div class="wrap-table100-nextcols js-pscroll">
                                <div class="table100-nextcols">
                                  <table style="margin-left: -310px;">
                                    <thead>
                                      
                                      <tr class="row100 head">
                                        
                                          <th class="cell100 column8">Application</TH>
                                            <th class="cell100 column8">Tutor1</TH>
                                              <th class="cell100 column8">Tutor2</TH>
                                          <th class="cell100 column8">Submission</TH>
                                            <th class="cell100 column8">Verification</TH>
                                          <th class="cell100 column8">alloc_status</TH>
                                        
                                          <th class="cell100 column8">View</TH>
                                            <th class="cell100 column8">Application Ref. No.</TH>
                                            <th class="cell100 column8">Submission Date</TH>
                                            <th class="cell100 column8">Payment Status</TH>
                                            <th class="cell100 column8">Fee</TH>
                                            <th class="cell100 column8">Payment Date</TH>
                                            <th class="cell100 column8">Name</TH>
                                            <th class="cell100 column8">Gender</TH>
                                            <th class="cell100 column8">DOB</TH>
                                            <th class="cell100 column8">Nationality</TH>
                                            <th class="cell100 column8">Category</TH>
                                            <th class="cell100 column8">PwD?</TH>
                                            <th class="cell100 column8">Marital Status</TH>
                                            <th class="cell100 column8">Email</TH>
                                            <th class="cell100 column8">Alt. Email</TH>
                                            <th class="cell100 column8">Mobile</TH>
                                            <th class="cell100 column8">Father&#39;s Name</TH>
                                            <th class="cell100 column8">Mother&#39;s Name</TH>
                                            <th class="cell100 column8">Parent Email Id</TH>
                                            <th class="cell100 column8">Aadhaar Number</TH>
                                            <th class="cell100 column8">Permanent Address</TH>
                                            <th class="cell100 column8">Status</TH>
                                            <th class="cell100 column8">Programme</TH>
                                            <th class="cell100 column8">Department</TH>
                                            <th class="cell100 column8">Preference 1</TH>
                                            <th class="cell100 column8">Preference 2</TH>
                                            <th class="cell100 column8">Preference 3</TH>
                                            <th class="cell100 column8">Phd area of research</TH>
                                            <th class="cell100 column8">Institute Assistantship</TH>
                                            <th class="cell100 column8">Finance Method</TH>
                                            <th class="cell100 column8">Finance Details</TH>
                                            <th class="cell100 column8">GATE 2019 Reg ID</TH>
                                            <th class="cell100 column8">GATE 2019 Discipline</TH>
                                            <th class="cell100 column8">GATE 2019 Score</TH>
                                            <th class="cell100 column8">GATE 2019 Rank</TH>
                                            <th class="cell100 column8">GATE 2018 Reg ID</TH>
                                            <th class="cell100 column8">GATE 2018 Discipline</TH>
                                            <th class="cell100 column8">GATE 2018 Score</TH>
                                            <th class="cell100 column8">GATE 2018 Rank</TH>
                                            <th class="cell100 column8">GATE 2017 Reg ID</TH>
                                            <th class="cell100 column8">GATE 2017 Discipline</TH>
                                            <th class="cell100 column8">GATE 2017 Score</TH>
                                            <th class="cell100 column8">GATE 2017 Rank</TH>
                                            <th class="cell100 column8">Other 1 Roll No./ Reg ID</TH>
                                            <th class="cell100 column8">Other 1 Score</TH>
                                            <th class="cell100 column8">Other 1 Max Score</TH>
                                            <th class="cell100 column8">Other 1 Valid Upto</TH>
                                            <th class="cell100 column8">Other 1 Test Name</TH>
                                            <th class="cell100 column8">Other 1 Test Year</TH>
                                            <th class="cell100 column8">Other 1 Discipline</TH>
                                            <th class="cell100 column8">Other 1 Rank</TH>
                                            <th class="cell100 column8">Percentile</TH>
                                            <th class="cell100 column8">Quantitative Aptitude Percentile</TH>
                                            <th class="cell100 column8">Data Integration &amp; Logical Reasoning Percentile</TH>
                                            <th class="cell100 column8">Verbal &amp; Reading Comprehension Percentile</TH>
                                            <th class="cell100 column8">Other 2 Roll No./ Reg ID</TH>
                                            <th class="cell100 column8">Other 2 Score</TH>
                                            <th class="cell100 column8">Other 2 Max Score</TH>
                                            <th class="cell100 column8">Other 2 Valid Upto</TH>
                                            <th class="cell100 column8">Other 2 Test Name</TH>
                                            <th class="cell100 column8">Other 2 Test Year</TH>
                                            <th class="cell100 column8">Other 2 Discipline</TH>
                                            <th class="cell100 column8">Other 2 Rank</TH>
                                            <th class="cell100 column8">Qualifying Degree</TH>
                                            <th class="cell100 column8">Qualifying Discipline</TH>
                                            <th class="cell100 column8">University Name</TH>
                                            <th class="cell100 column8">University City</TH>
                                            <th class="cell100 column8">University Country</TH>
                                            <th class="cell100 column8">Institute Name</TH>
                                            <th class="cell100 column8">Year of Admission</TH>
                                            <th class="cell100 column8">Year of Completion</TH>
                                            <th class="cell100 column8">Duration</TH>
                                            <th class="cell100 column8">Degree Status</TH>
                                            <th class="cell100 column8">Rank</TH>
                                            <th class="cell100 column8">Evaluation Pattern</TH>
                                            <th class="cell100 column8">Evaluation Method</TH>
                                            <th class="cell100 column8">Marks Obtained</TH>
                                            <th class="cell100 column8">Maximum Marks</TH>
                                            <th class="cell100 column8">Percentage</TH>
                                            <th class="cell100 column8">Total Experience</TH>
                                            <th class="cell100 column8">Experience 1 Organization</TH>
                                            <th class="cell100 column8">Experience 1 Designation</TH>
                                            <th class="cell100 column8">Experience 1 From</TH>
                                            <th class="cell100 column8">Experience 1 To</TH>
                                            <th class="cell100 column8">Experience 1 Roles &amp; Responsibility</TH>
                                            <th class="cell100 column8">Experience 1 Total Pay</TH>
                                            <th class="cell100 column8">No. of Papers</TH>
                                            <th class="cell100 column8">No. of Papers in Conference</TH>
                                            <th class="cell100 column8">No. of Papers in Conf Not published</TH>
                                            <th class="cell100 column8">No. of Book Chapters</TH>
                                            <th class="cell100 column8">Referee 1 Name</TH>
                                            <th class="cell100 column8">Referee 1 Organization</TH>
                                            <th class="cell100 column8">Referee 1 Email</TH>
                                            <th class="cell100 column8">Referee 1 Phone</TH>
                                            <th class="cell100 column8">Referee 1 Address</TH>
                                            <th class="cell100 column8">Referee 2 Name</TH>
                                            <th class="cell100 column8">Referee 2 Organization</TH>
                                            <th class="cell100 column8">Referee 2 Email</TH>
                                            <th class="cell100 column8">Referee 2 Phone</TH>
                                            <th class="cell100 column8">Referee 2 Address</TH>
                                            <th class="cell100 column8">PE 1 Degree</TH>
                                            <th class="cell100 column8">PE 1 Year</TH>
                                            <th class="cell100 column8">PE 1 Board / University</TH>
                                            <th class="cell100 column8">PE 1 Subjects</TH>
                                            <th class="cell100 column8">PE 1 Score</TH>
                                            <th class="cell100 column8">PE 1 Max Score</TH>
                                            <th class="cell100 column8">PE 1 Percentage</TH>
                                            <th class="cell100 column8">PE 1 Rank</TH>
                                            <th class="cell100 column8">PE 2 Degree</TH>
                                            <th class="cell100 column8">PE 2 Year</TH>
                                            <th class="cell100 column8">PE 2 Board / University</TH>
                                            <th class="cell100 column8">PE 2 Subjects</TH>
                                            <th class="cell100 column8">PE 2 Score</TH>
                                            <th class="cell100 column8">PE 2 Max Score</TH>
                                            <th class="cell100 column8">PE 2 Percentage</TH>
                                            <th class="cell100 column8">PE 2 Rank</TH>
                                            <th class="cell100 column8">PE 3 Degree</TH>
                                            <th class="cell100 column8">PE 3 Year</TH>
                                            <th class="cell100 column8">PE 3 Board / University</TH>
                                            <th class="cell100 column8">PE 3 Subjects</TH>
                                            <th class="cell100 column8">PE 3 Score</TH>
                                            <th class="cell100 column8">PE 3 Max Score</TH>
                                            <th class="cell100 column8">PE 3 Percentage</TH>
                                            <th class="cell100 column8">PE 3 Rank</TH>

                                         
                                      </tr>
                                      
                                    </thead>
                                    <tbody id="myTable">
                                      {% for i in mtech%}
                                      
                                      <tr class="row100 body">
                                        
                                          <td class="cell100 column8">{{i['Application Ref. No.']}}</td>
                                          
                                          <td class="cell100 column8">{{i['Tutor_name']}}</td>
                                          <td class="cell100 column8">{{i['Tutor2']}}</td>
                                          <td class="cell100 column8">{{i['Submission']}}</td>
                                          <td class="cell100 column8">{{i['Validation']}}</td>
                                        <td class="cell100 column8">{{i['alloc_status']}}</td>
                                       
                                        <td class="cell100 column8">{{i['View']}}</td>
                                            <td style="height: 113px;" class="cell100 column8">{{i['Application Ref. No.']}}</td>
                                            <td class="cell100 column8">{{i['Submission Date']}}</td>
                                            <td class="cell100 column8">{{i['Payment Status']}}</td>
                                            <td class="cell100 column8">{{i['Fee']}}</td>
                                            <td class="cell100 column8">{{i['Payment Date']}}</td>
                                            <td class="cell100 column8">{{i['Name']}}</td>
                                            <td class="cell100 column8">{{i['Gender']}}</td>
                                            <td class="cell100 column8">{{i['DOB']}}</td>
                                            <td class="cell100 column8">{{i['Nationality']}}</td>
                                            <td class="cell100 column8">{{i['Category']}}</td>
                                            <td class="cell100 column8">{{i['PwD?']}}</td>
                                            <td class="cell100 column8">{{i['Marital Status']}}</td>
                                            <td class="cell100 column8">{{i['Email']}}</td>
                                            <td class="cell100 column8">{{i['Alt. Email']}}</td>
                                            <td class="cell100 column8">{{i['Mobile']}}</td>
                                            <td class="cell100 column8">{{i['Fatder&#39;s Name']}}</td>
                                            <td class="cell100 column8">{{i['Motder&#39;s Name']}}</td>
                                            <td class="cell100 column8">{{i['Parent Email Id']}}</td>
                                            <td class="cell100 column8">{{i['Aadhaar Number']}}</td>
                                            <td class="cell100 column8">{{i['Permanent Address']}}</td>
                                            <td class="cell100 column8">{{i['Status']}}</td>
                                            <td class="cell100 column8">{{i['Programme']}}</td>
                                            <td class="cell100 column8">{{i['Department']}}</td>
                                            <td class="cell100 column8">{{i['Preference 1']}}</td>
                                            <td class="cell100 column8">{{i['Preference 2']}}</td>
                                            <td class="cell100 column8">{{i['Preference 3']}}</td>
                                            <td class="cell100 column8">{{i['Phd area of research']}}</td>
                                            <td class="cell100 column8">{{i['Institute Assistantship']}}</td>
                                            <td class="cell100 column8">{{i['Finance Metdod']}}</td>
                                            <td class="cell100 column8">{{i['Finance Details']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2019 Reg ID']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2019 Discipline']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2019 Score']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2019 Rank']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2018 Reg ID']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2018 Discipline']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2018 Score']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2018 Rank']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2017 Reg ID']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2017 Discipline']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2017 Score']}}</td>
                                            <td class="cell100 column8">{{i['GATE 2017 Rank']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Roll No./ Reg ID']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Score']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Max Score']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Valid Upto']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Test Name']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Test Year']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Discipline']}}</td>
                                            <td class="cell100 column8">{{i['Otder 1 Rank']}}</td>
                                            <td class="cell100 column8">{{i['Percentile']}}</td>
                                            <td class="cell100 column8">{{i['Quantitative Aptitude Percentile']}}</td>
                                            <td class="cell100 column8">{{i['Data Integration &amp; Logical Reasoning Percentile']}}</td>
                                            <td class="cell100 column8">{{i['Verbal &amp; Reading Comprehension Percentile']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Roll No./ Reg ID']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Score']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Max Score']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Valid Upto']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Test Name']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Test Year']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Discipline']}}</td>
                                            <td class="cell100 column8">{{i['Otder 2 Rank']}}</td>
                                            <td class="cell100 column8">{{i['Qualifying Degree']}}</td>
                                            <td class="cell100 column8">{{i['Qualifying Discipline']}}</td>
                                            <td class="cell100 column8">{{i['University Name']}}</td>
                                            <td class="cell100 column8">{{i['University City']}}</td>
                                            <td class="cell100 column8">{{i['University Country']}}</td>
                                            <td class="cell100 column8">{{i['Institute Name']}}</td>
                                            <td class="cell100 column8">{{i['Year of Admission']}}</td>
                                            <td class="cell100 column8">{{i['Year of Completion']}}</td>
                                            <td class="cell100 column8">{{i['Duration']}}</td>
                                            <td class="cell100 column8">{{i['Degree Status']}}</td>
                                            <td class="cell100 column8">{{i['Rank']}}</td>
                                            <td class="cell100 column8">{{i['Evaluation Pattern']}}</td>
                                            <td class="cell100 column8">{{i['Evaluation Metdod']}}</td>
                                            <td class="cell100 column8">{{i['Marks Obtained']}}</td>
                                            <td class="cell100 column8">{{i['Maximum Marks']}}</td>
                                            <td class="cell100 column8">{{i['Percentage']}}</td>
                                            <td class="cell100 column8">{{i['Total Experience']}}</td>
                                            <td class="cell100 column8">{{i['Experience 1 Organization']}}</td>
                                            <td class="cell100 column8">{{i['Experience 1 Designation']}}</td>
                                            <td class="cell100 column8">{{i['Experience 1 From']}}</td>
                                            <td class="cell100 column8">{{i['Experience 1 To']}}</td>
                                            <td class="cell100 column8">{{i['Experience 1 Roles &amp; Responsibility']}}</td>
                                            <td class="cell100 column8">{{i['Experience 1 Total Pay']}}</td>
                                            <td class="cell100 column8">{{i['No. of Papers']}}</td>
                                            <td class="cell100 column8">{{i['No. of Papers in Conference']}}</td>
                                            <td class="cell100 column8">{{i['No. of Papers in Conf Not published']}}</td>
                                            <td class="cell100 column8">{{i['No. of Book Chapters']}}</td>
                                            <td class="cell100 column8">{{i['Referee 1 Name']}}</td>
                                            <td class="cell100 column8">{{i['Referee 1 Organization']}}</td>
                                            <td class="cell100 column8">{{i['Referee 1 Email']}}</td>
                                            <td class="cell100 column8">{{i['Referee 1 Phone']}}</td>
                                            <td class="cell100 column8">{{i['Referee 1 Address']}}</td>
                                            <td class="cell100 column8">{{i['Referee 2 Name']}}</td>
                                            <td class="cell100 column8">{{i['Referee 2 Organization']}}</td>
                                            <td class="cell100 column8">{{i['Referee 2 Email']}}</td>
                                            <td class="cell100 column8">{{i['Referee 2 Phone']}}</td>
                                            <td class="cell100 column8">{{i['Referee 2 Address']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Degree']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Year']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Board / University']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Subjects']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Score']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Max Score']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Percentage']}}</td>
                                            <td class="cell100 column8">{{i['PE 1 Rank']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Degree']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Year']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Board / University']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Subjects']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Score']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Max Score']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Percentage']}}</td>
                                            <td class="cell100 column8">{{i['PE 2 Rank']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Degree']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Year']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Board / University']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Subjects']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Score']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Max Score']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Percentage']}}</td>
                                            <td class="cell100 column8">{{i['PE 3 Rank']}}</td>
 
                                        
                                          
                                      </tr>
                                      {% endfor %}
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="mybox" style="width: 50%;">
                            <iframe name="mapframe" id="mapframe"  style="width: 100%; height: 75vh;" src="../static/test.html" frameborder="0"></iframe>
                          </div>
                              </div>
                              </div>
                              </div>
                              
                              </div>
                              
                            </div>
                            <div class="col-md-12">
                              <div class="card">
                                  <div class="card-content">
                                      <div class="places-buttons">
                                          <div class="row">
                                              <div class="col-md-6 col-md-offset-3 text-center">
                                                  <h4 class="card-title">
                                                      Notifications Places
                                                      <p class="category">Click to view notifications</p>
                                                  </h4>
                                              </div>
                                          </div>
                                          
                                      </div>
                  
                                      <div class="row">
                                          <div class="col-md-12 text-center">
                                              <div class="card-header">
                                                  <h4 class="card-title">Modal</h4>
                                              </div>
                  
                                            <a href="#"><button class="btn btn-raised btn-round btn-rose">
                                                  Allocate
                                            </button></a>
                                              
                  
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                            
                          </div>
</div>
<script src="../static/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	
  <script>
    function setURL(url){
        document.getElementById('iframe').src = url;
    }
    </script>

<script>
  $(document).ready(function() {
      $(".state a").click(function(e) {
          e.preventDefault();
   
          $("#mapframe").attr("src", $(this).attr("url"));
      })
  });
  </script>
{% endblock content %}    