
        <div class="col-lg-6">
            <div class="card card-pricing card-raised">
                <div class="content">
                    <h4 class="card-title">BTECH Database</h4>
                    <div class="icon icon-rose">
                        <span class="material-icons">
                            delete_sweep
                        </span>
                    </div>
                    <h3 class="card-title">DANGER</h3>
                    <p class="card-description">
                        Once deleted it can't be reverted back
                    </p>
                    <a href="{{url_for('BTECHs.reset_BTECH')}}" class="btn btn-rose btn-round">Reset Phd</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-6">
            <div class="card card-pricing card-raised">
                <div class="content">
                    <h4 class="card-title">gtech Database</h4>
                    <div class="icon icon-rose">
                        <span class="material-icons">
                            delete_sweep
                        </span>
                    </div>
                    <h3 class="card-title">DANGER</h3>
                    <p class="card-description">
                        Once deleted it can't be reverted back
                    </p>
                    <a href="{{url_for('gtechs.reset_gtech')}}" class="btn btn-rose btn-round">Reset Phd</a>
                </div>
            </div>
        </div>
    