
            <div class="modal fade" id="smallAlertModalBTECH" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-small ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        </div>
                        <div class="modal-body text-center">
                            <h5>Are you sure you want to submit? </h5>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-simple" data-dismiss="modal">Never mind</button>
                            <a href="{{url_for('BTECHs.allocate_BTECH')}}"><button type="submit" class="btn btn-success btn-simple">Yes</button></a>
                        </div>
                    </div>
                </div>
                </div>
            <button class="btn btn-raised btn-round btn-rose" data-toggle="modal" data-target="#smallAlertModalBTECH">
                Allocate BTECH
            </button>
    
            <div class="modal fade" id="smallAlertModalgtech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-small ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        </div>
                        <div class="modal-body text-center">
                            <h5>Are you sure you want to submit? </h5>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-simple" data-dismiss="modal">Never mind</button>
                            <a href="{{url_for('gtechs.allocate_gtech')}}"><button type="submit" class="btn btn-success btn-simple">Yes</button></a>
                        </div>
                    </div>
                </div>
                </div>
            <button class="btn btn-raised btn-round btn-rose" data-toggle="modal" data-target="#smallAlertModalgtech">
                Allocate gtech
            </button>
    