

{% extends "dashlayout.html" %}
{% block content %}
<style type="text/css">
  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>
<div class="content">
              <div class="container-fluid">
                {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                            <div id="mydiv" class="alert alert-{{ category }}" role="alert" style="position: absolute;z-index: 100;top: 40%;left: 57%;width: 40%;">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              {{ message }}
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons"></i>
                        </div>
                        <h4 class="card-title">Phd files only</h4>
                      </div>
                      <div class="card-body ">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="table-responsive table-sales">
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                  <label value="Choose"  class="btn  btn-lg" id="wizard-picture"> 
                                    <input type="file"  name="file" multiple  data-show-upload="true">
                                     Choose File
                                </label>
                                
                                    <input type="submit" class="btn btn-primary btn-lg">
                                </form>
                              </div>
                              </div>
                              <div class="col-md-6 ml-auto mr-auto">
                              
                              </div>
                              </div>
                              </div>
                              </div>
                              </div>
                              
                            </div>
                             
                            
                          </div>
</div>
<script>
  setTimeout(function() {
    $('#mydiv').fadeOut('fast');
}, 10000);
</script>
{% endblock content %}   




