
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h4 class="card-title">BTECH Section</h4>
                </div>
                <div class="card-content" >
                    <div class="table-responsive table-sales" style="display: flex;justify-content: center; align-items: center;">
                        <a href="{{ url_for('BTECHs.BTECH')}}"><button class="btn btn-rose btn-lg" >BTECH Files</button></a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h4 class="card-title">gtech Section</h4>
                </div>
                <div class="card-content" >
                    <div class="table-responsive table-sales" style="display: flex;justify-content: center; align-items: center;">
                        <a href="{{ url_for('gtechs.gtech')}}"><button class="btn btn-rose btn-lg" >gtech Files</button></a>
                    </div>
                </div>
            </div>
        </div>
    