{% extends "layout.html" %} {% block content %}
<div class="container-fluid">
	{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
	<div id="mydivs" data-notify="container" class="col-xs-11 col-sm-4 alert alert-{{ category }} alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
		<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
                                <span aria-hidden="true">&times;</span>
                              </button>
		<i data-notify="icon" class="material-icons">notifications</i>
		<span data-notify="title"></span>
		<span data-notify="message">{{ message }}</span>
	</div>
	{% endfor %} {% endif %} {% endwith %}
	<script>
		setTimeout(function() {
		                              $('#mydivs').fadeOut('slow');
		                          }, 2000);
	</script>
	<div class="header text-center">
		<h3 class="title">{{ title }}</h3>
		<p class="category">Please upload files to their corresponding sections only!! </p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header" style="text-align: center;">
					<h4 class="card-title">PHD Section</h4>
				</div>
				<div class="card-content">


					<div class="table-responsive table-sales" style="display: flex;justify-content: center; align-items: center;">
						<a href="{{ url_for('phd')}}"><button class="btn btn-rose btn-lg" >Phd Files</button></a>

					</div>

				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header" style="text-align: center;">
					<h4 class="card-title">Mtech Section</h4>
				</div>
				<div class="card-content">


					<div class="table-responsive table-sales" style="display: flex;justify-content: center; align-items: center;">
						<a href="{{ url_for('mtech')}}"><button class="btn btn-rose btn-lg" >Mtech Files</button></a>

					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                      <div class="card-header card-header-tabs" data-background-color="rose">
                        <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Tasks:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="active">
                                <a href="#profile" data-toggle="tab" aria-expanded="true">
                                  <i class="material-icons">bug_report</i>
                                  Schedule Your Tasks
                                <div class="ripple-container"></div></a>
                              </li>
                             
                            </ul>
                          </div>
                        </div>
                      </div>
                      
                      <div class="card-content">
                        <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" name="optionsCheckboxes" checked=""><span class="checkbox-material"><span class="check"></span></span>
                                      </label>
                                    </div>
                                  </td>
                                  <td>Sign contract for "What are conference organizers afraid of?"</td>
                                  <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit Task">
                                      <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                      <i class="material-icons">close</i>
                                    </button>
                                  </td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                          
                        </div>
                      </div>
                      </div>
                      </div> 
                </div> -->
</div>
{% endblock content %}