





{% extends "dashlayout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<div class="content">
              <div class="container-fluid">
                <div class="header text-center">
                  <h3 class="title">{{ title }}</h3>
                  <p class="category">Click on Application No. to view document </p>
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card " style="width: 100%;">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons"></i>
                        </div>
                        <h4 class="card-title">Global Sales by Top Locations</h4>
                      </div>
                      <div class="card-body ">
                        <div class="row">
                          
                          <div class="wrap-table100" style="width: 50%;height: 75vh;overflow-y: auto
                          ;">
                            <div class="table100 ver1">
                              <div class="table100-firstcol" style="width: 240px;">
                                <table>
                                  <thead>
                                    <tr class="row100 head">
                                      <th class="cell100 column1">Application No.</th>
                                    </tr>
                                  </thead>
                                  <tbody id="myTable">
                                    {% for phd in phd %}
                                    {% if phd.View==current_user.username or current_user.is_admin == True or current_user.is_manager == True%}
                                    <tr class="row100 body">
                                      <td class="cell100 column1"><a  href="../static/pdf/{{phd.Application}}.pdf" target="mapframe">{{ phd.Application}}</a></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    
                                  </tbody>
                                </table>
                              </div>
                              
                              <div class="wrap-table100-nextcols js-pscroll">
                                <div class="table100-nextcols">
                                  <table>
                                    <thead>
                                      
                                      <tr class="row100 head">
                                        <th class="cell100 column2">Payment Date</th>
                                        <th class="cell100 column3">Start date</th>
                                        <th class="cell100 column4">Last Activity</th>
                                        <th class="cell100 column5">Contacts</th>
                                        <th class="cell100 column6">Age</th>
                                        <th class="cell100 column7">Address</th>
                                        <th class="cell100 column8">Card No</th>
                                        <th class="cell100 column2">Position</th>
                                        <th class="cell100 column3">Start date</th>
                                        <th class="cell100 column4">Last Activity</th>
                                        <th class="cell100 column5">Contacts</th>
                                        <th class="cell100 column6">Age</th>
                                        <th class="cell100 column7">Address</th>
                                        <th class="cell100 column8">Card No</th>
                                        <th class="cell100 column2">Position</th>
                                        <th class="cell100 column3">Start date</th>
                                        <th class="cell100 column4">Last Activity</th>
                                        <th class="cell100 column5">Contacts</th>
                                        <th class="cell100 column6">Age</th>
                                        <th class="cell100 column7">Address</th>
                                        <th class="cell100 column8">Card No</th>
                                      </tr>
                                      
                                    </thead>
                                    <tbody >
                                      {% for i in phd %}
                                      {% if i.View ==current_user.username  or current_user.is_admin == True or current_user.is_manager == True%}
                                      <tr class="row100 body">
                                        <td class="cell100 column2">{{i.View}}</td>
                                        <td class="cell100 column3">16 Nov 2012</td>
                                        <td class="cell100 column4">16 Nov 2017</td>
                                        <td class="cell100 column5">brandon94@example.com</td>
                                        <td class="cell100 column6">30</td>
                                        <td class="cell100 column7">New York City, NY</td>
                                        <td class="cell100 column8">424242xxxxxx6262</td>
                                        <td class="cell100 column2">CMO</td>
                                        <td class="cell100 column3">16 Nov 2012</td>
                                        <td class="cell100 column4">16 Nov 2017</td>
                                        <td class="cell100 column5">brandon94@example.com</td>
                                        <td class="cell100 column6">30</td>
                                        <td class="cell100 column7">New York City, NY</td>
                                        <td class="cell100 column8">424242xxxxxx6262</td>
                                        <td class="cell100 column2">CMO</td>
                                        <td class="cell100 column3">16 Nov 2012</td>
                                        <td class="cell100 column4">16 Nov 2017</td>
                                        <td class="cell100 column5">brandon94@example.com</td>
                                        <td class="cell100 column6">30</td>
                                        <td class="cell100 column7">New York City, NY</td>
                                        <td class="cell100 column8">424242xxxxxx6262</td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style="width: 50%;">
                            <iframe name="mapframe" id="mapframe"  style="width: 100%; height: 75vh;" src="../static/test.html" frameborder="0"></iframe>
                          </div>
                              </div>
                              </div>
                              </div>
                              
                              </div>
                              
                            </div>
                             
                            
                          </div>
</div>
<script src="../static/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})

			$(this).on('ps-x-reach-start', function(){
				$(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
			});

			$(this).on('ps-scroll-x', function(){
				$(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
			});

		});
  </script>
  <script>
    function setURL(url){
        document.getElementById('iframe').src = url;
    }
    </script>

<script>
  $(document).ready(function() {
      $(".state a").click(function(e) {
          e.preventDefault();
   
          $("#mapframe").attr("src", $(this).attr("url"));
      })
  });
  </script>
{% endblock content %}    