/*! =========================================================
 *
 Material Dashboard PRO - V1.3.0
*
* =========================================================
*
* Copyright 2016 Creative Tim (http://www.creative-tim.com/product/material-dashboard-pro)
 *
 *                       _oo0oo_
 *                      o8888888o
 *                      88" . "88
 *                      (| -_- |)
 *                      0\  =  /0
 *                    ___/`---'\___
 *                  .' \|     |// '.
 *                 / \|||  :  |||// \
 *                / _||||| -:- |||||- \
 *               |   | \  -  /// |   |
 *               | \_|  ''\---/''  |_/ |
 *               \  .-\__  '-'  ___/-. /
 *             ___'. .'  /--.--\  `. .'___
 *          ."" '<  `.___\_<|>_/___.' >' "".
 *         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *         \  \ `_.   \_ __\ /__ _/   .-` /  /
 *     =====`-.____`.___ \_____/___.-`___.-'=====
 *                       `=---='
 *
 *     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *               Buddha Bless:  "No Bugs"
 *
 * ========================================================= */

/*! nouislider - 10.0.0 - 2016-12-10 16:00:32 */

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

/* Slider size and handle placement;
 */

/* Styling;
 */

/* Handles and cursors;
 */

/* Disabled state;
 */

/* Base;
 *
 */

/* Values;
 *
 */

/* Markings;
 *
 */

/* Horizontal layout;
 *
 */

/* Vertical layout;
 *
 */

/*
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@supports (-ms-accelerator: true) {
}

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */

/*!
 * FullCalendar v3.0.1 Stylesheet
 * Docs & License: http://fullcalendar.io/
 * (c) 2016 Adam Shaw
 */

/* Colors
--------------------------------------------------------------------------------------------------*/

/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/

/* Buttons (styled <button> tags, normalized to work cross-browser)
--------------------------------------------------------------------------------------------------*/

/*.fc-state-default.fc-corner-left { non-theme
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right { /* non-theme
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}*/

/* icons in buttons */

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

/* Buttons Groups
--------------------------------------------------------------------------------------------------*/

/*
every button that is not first in a button group should scootch over one pixel and cover the
previous button's border...
*/

/* Popover
--------------------------------------------------------------------------------------------------*/

/* unthemed */

/* jqui themed */

/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/

/* Tables
--------------------------------------------------------------------------------------------------*/

/* Internal Nav Links
--------------------------------------------------------------------------------------------------*/

/* Fake Table Rows
--------------------------------------------------------------------------------------------------*/

/* Day Row (used within the header and the DayGrid)
--------------------------------------------------------------------------------------------------*/

/* highlighting cells & background event skeleton */

/*
row content (which contains day/week numbers and events) as well as "helper" (which contains
temporary rendered events).
*/

/* Scrolling Container
--------------------------------------------------------------------------------------------------*/

/* TODO: move to agenda/basic */

/* Global Event Styles
--------------------------------------------------------------------------------------------------*/

/* overpower some of bootstrap's and jqui's styles on <a> tags */

/* resizer (cursor AND touch devices) */

/* resizer (touch devices) */

/* hit area */

/* Event Selection (only for touch devices)
--------------------------------------------------------------------------------------------------*/

/* Horizontal Events
--------------------------------------------------------------------------------------------------*/

/* bigger touch area when selected */

/* events that are continuing to/from another week. kill rounded corners and butt up against edge */

/* resizer (cursor AND touch devices) */

/* left resizer  */

/* right resizer */

/* resizer (mouse devices) */

/* resizer (touch devices) */

/* left resizer  */

/* right resizer */

/* DayGrid events
----------------------------------------------------------------------------------------------------
We use the full "fc-day-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/

/* resizer (cursor devices) */

/* left resizer  */

/* right resizer */

/* Event Limiting
--------------------------------------------------------------------------------------------------*/

/* "more" link that represents hidden events */

/* popover that appears when "more" link is clicked */

/* Now Indicator
--------------------------------------------------------------------------------------------------*/

/* Utilities
--------------------------------------------------------------------------------------------------*/

/* Toolbar
--------------------------------------------------------------------------------------------------*/

/* the things within each left/right/center section */

/* the first thing within each left/center/right section */

/* title text */

/* button layering (for border precedence) */

/* View Structure
--------------------------------------------------------------------------------------------------*/

/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */

/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */

/* BasicView
--------------------------------------------------------------------------------------------------*/

/* day row structure */

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */

/* week and day number styling */

/* when week/day number have own column */

/* AgendaView all-day area
--------------------------------------------------------------------------------------------------*/

/* TimeGrid axis running down the side (for both the all-day area and the slot area)
--------------------------------------------------------------------------------------------------*/

/* TimeGrid Structure
--------------------------------------------------------------------------------------------------*/

/* divs within a cell within the fc-content-skeleton */

/* TimeGrid Slats (lines that run horizontally)
--------------------------------------------------------------------------------------------------*/

/* TimeGrid Highlighting Slots
--------------------------------------------------------------------------------------------------*/

/* TimeGrid Event Containment
--------------------------------------------------------------------------------------------------*/

/* Generic Vertical Event
--------------------------------------------------------------------------------------------------*/

/* TimeGrid Event Styling
----------------------------------------------------------------------------------------------------
We use the full "fc-time-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/

/* short mode, where time and title are on the same line */

/* resizer (cursor device) */

/* resizer (touch device) */

/* Now Indicator
--------------------------------------------------------------------------------------------------*/

/* arrow on axis */

/* List View
--------------------------------------------------------------------------------------------------*/

/* possibly reusable */

/* view wrapper */

/* table resets */

/* day headings with the list */

/* event list items */

/* make the dot closer to the event title */

/* message when no events */

/*!
 * Bootstrap-select v1.11.2 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2016 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

/* perfect-scrollbar v0.6.13 */

@supports (-ms-overflow-style: none) {
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-size: 2.6em;
}

.close {
    font-size: inherit;
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
}

.close:hover,
.close:focus {
    opacity: 1;
    color: #FFFFFF;
}

body {
    background-color: #EEEEEE;
    color: #3C4858;
}

body,
h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

a {
    color: #9c27b0;
}

a:hover,
a:focus {
    color: #89229b;
    text-decoration: none;
}

/*           Animations              */

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: 0;
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner {
    outline: 0 !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.alert {
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 20px 15px;
    line-height: 20px;
}

.alert {
    background-color: white;
    color: #555555;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}

.alert span {
    display: block;
    max-width: 89%;
}

.alert.alert-with-icon {
    margin-top: 43px;
    padding-left: 66px;
}

.alert.alert-with-icon i[data-notify="icon"] {
    display: block;
    left: 15px;
    position: absolute;
    margin-top: -39px;
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 9px;
    border-radius: 50%;
    max-width: 38px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.alert i[data-notify="icon"] {
    display: none;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material:before {
    animation: rippleOff 500ms;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
    animation: rippleOff 500ms;
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

.radio label input[type=radio]:not(:checked)~.check:after {
    animation: rippleOff 500ms;
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

/*
 * bootstrap-tagsinput v0.8.0
 *
 */

footer {
    padding: 15px 0;
}

footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}

footer ul li a:hover {
    text-decoration: none;
}

/*          Changes for small display      */

@media (max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
}